*:hover {
    border: blue 1px solid;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
   
}

.cell{
    border: 2px solid black;
}

